@import "tailwindcss";


body{
    background-color: #181a1b;
    color: white ; 
}

@utility flex-between {
  @apply flex items-center justify-between;
}

@utility flex-center { 
    @apply flex items-center justify-center;
}




@layer components {
    header { 
        @apply w-screen fixed top-0 left-0 z-50  flex-center bg-black min-h-[7vh];

         nav {
        @apply container mx-auto flex-between px-5 2xl:px-0 ; 

        img {
            @apply cursor-pointer hover:-translate-y-0.5 transition-all duration-300 ease-in-out; 
        button {
                @apply bg-transparent border-none outline-none cursor-pointer; 
            }
        }
        ul {
             @apply flex-center gap-8 ; 
        }
    }

    }

   


}